@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
    background-color: #68666c;
    font-family: 'Montserrat', sans-serif;
    color: #d2ddde;
}

h1 {
    color: #ee7d50
}

h2 {
    color: #d2ddde;
}


.link{
    color: #ee7d50;
}

.link:hover{
    color: #b46546;
}

.highlight{
    color: #ee7d50
}
